@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Lato:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-grey-200;
  }
  body {
    @apply bg-white text-grey-900 font-lato;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
